<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Greet msg="TDD practice"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Greet from '@/components/Greet.vue';

export default {
  name: 'home',
  components: {
    Greet,
  },
};
</script>
