<template>
  <div class="greet">
    <h1>{{ msg }}</h1>
    <input type="text" v-model="greet_name" @change="greet()">
    <p class="greet__txt">{{this.greetings}}</p>
    <button @click="greet()">Submit</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      greet_name: '',
      name: '',
      greetings: '',
    };
  },
  computed: {

  },
  methods: {
    greet() {
      if (this.greet_name === '') {
        this.greetings = 'hello my friend';
      } else {
        const names = this.greet_name;
        const isArray = names.split(', ');

        if (isArray.length === 1) {
          this.greetings = `hello ${this.greet_name}`;
          if (this.greet_name === this.greet_name.toUpperCase()) {
            this.greetings = this.greetings.toUpperCase();
          }
        } else {
          let greettxt = '';
          let txtupper = '';
          let txtupperArr = [];
          let txtlowerArr = [];

          for (let i = 0; i < isArray.length; i += 1) {
            if(isArray[i] === isArray[i].toUpperCase()){
              txtupperArr.push(isArray[i]);
            } else{
              txtlowerArr.push(isArray[i]);
            }
            
          }

          //lowercase
          for (let i = 0; i < txtlowerArr.length; i += 1) {
            if (greettxt === '') {
               greettxt = `hello ${txtlowerArr[i]}`;
            } else if (i === txtlowerArr.length - 1) {
              greettxt += ` and ${txtlowerArr[i]}`; 
            } else {
              greettxt = `${greettxt}, ${txtlowerArr[i]}`;
            }
          } 

          //uppercase
          for (let i = 0; i < txtupperArr.length; i += 1) {
            txtupper = '. and hello ' + txtupperArr[i];
            txtupper = txtupper.toUpperCase();
          } 

          this.greetings = greettxt + txtupper;
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
